body{
	font-family: 'Cabin', sans-serif;
	color:#373739;
}

.app-button{
    background-color: #5785C1;
    border-color: #5785C1;
    padding: 7px 30px;
	    color: white;
		    border-radius: 10px;
	
}

.app-button:hover{
    background-color: #5785C1;
    border-color: #5785C1;
	    color: white;
	
}

.modal-content {
	    margin: 0 auto;
    width: 75%;
 
}

.topmenu{
	    background-color: #244674;	
}

.menu-btn {
    color: white;
    font-size: 25px;
    padding: 0px;
}

.menu-btn:hover {
    color: white;
    text-decoration: none;
}

.menu-btn :focus {
  outline: none;
}

.navbar-dark .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0);
}

.sign-button {
    background-color: #5785C1;
    border-color: #5785C1;
}

.user-details{
	    text-align: center;
    font-weight: 500;
	
}

.user-name{
	    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
}

.user-logo{
	 margin-top: 30px;
}

/* Multi steps form*/

/* .sw-theme-circles > ul.step-anchor > li > a {
    border: none;
padding: 29px 0;
    box-shadow: none !important;
   
}
.sw-theme-circles > ul.step-anchor > li.active > a {
    border-color: #96AEDA;
    color: #000;
    background: #96AEDA;
}

.sw-theme-circles > ul.step-anchor > li > a {
    font-size: 20px;
	 color: #000;
	 background-color: #fff;
}

.sw-theme-circles > ul.step-anchor > li > a > small {
    color: #000;
	bottom: -30px;
}

.sw-theme-circles > ul.step-anchor > li.active > a > small {
    color: #000;
}

.sw-theme-circles > ul.step-anchor {
          background-color: #DDE6F5;
    height: 158px;
    padding: 20px 0px;
}

.sw-theme-circles > ul.step-anchor > li {
    margin-left: 15%;
  
}

.sw-theme-circles > ul.step-anchor:before {
      width: 57%;
    left: 20%;
    top: 36%;
      background-color: #fff;
} */

.card-design {
    text-align: center;
    width: 90%;
    margin: 0 auto;
	margin-bottom: 20px;
    /* padding: 50px 0px; */
    border: 1px solid white;
	/* background-image: url(https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg); */
}


.card-design p {
    color: #fff;
    font-size: 20px;
	    padding-bottom: 5px;
}

.qr-code {
    width: 168px;
    margin: 0 auto;
    background-color: white;
	padding: 20px 0px;
}

.qr-code p {
    color: #000;
}

/* .sw-theme-circles > ul.step-anchor > li > a:hover {
    color: #000;
    background: #ffffff;
    border-width: 2px;
}

.sw-theme-circles > ul.step-anchor {
    margin-bottom: 10px;
} */

/* .sw-theme-circles > ul.step-anchor > li.done > a {
    border-color: #5884C3;
    color: #000;
    background: #5884C3;
}

.sw-theme-circles > ul.step-anchor > li.done > a > small {
     color: #000;
} */

/* Slider */

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 35px;
    height: 35px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-slider {
    padding: 0px 10px;
}

.slick-slide {
    margin: 0px 10px;
}

.slick-prev {
        display: none !important;
}
.slick-next {
    right: 25px;
	    top: -15%;
}

.slick-slide img {
    width: 100%;
}

.slick-next {
    right: 10px;
        top: -30px;
    color: #203F82;
}

.slick-prev:before, .slick-next:before {
        font-family: FontAwesome;
    font-size: 40px;
    line-height: 1;
    opacity: 1;
    color: #203F82;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-next:before {
    content: "\f105";
	    font-weight: bold;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.merchats-heading {
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
}

.next-button{
	margin-top:20px;
	margin-right:20px;
	background-color: #5A83C1;
    border-color: #5A83C1;
}

.promos-heading {
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
}

section.promos {
    margin: 70px 0px 30px 0px;
}

.top-menu .dropdown-menu {
    margin-top: 8px;
    margin-left: -16px;
    border: 0px;
        background-color: rgba(237, 236, 234, 0.9);
    border-bottom-right-radius: 25px !important;
    border-radius: 0px;
    padding-bottom: 80px;
	    padding-left: 15px;
    padding-right: 15px;
}

.top-menu .dropdown-menu a{
    font-size:18px;
	border-bottom: 1px solid lightgray;
}

/* Model */

p.model-text {
    padding: 70px 0px;
    border: 1px solid #828282;
    text-align: center;
    margin: 15px 5px;
}

.close {
    font-size: 2rem;

}

.modal-content {
        border-radius: 20px;
    padding: 0px 10px;
}

.third-step{
	padding:0px 20px;
	
}


.placement p {
    padding: 100px 0px;
    border: 1px solid #828282;
    text-align: center;
    margin: 15px 0px;
}

p.intro-step2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
	    padding: 20px 0px 30px 0px;
}

/* div#smartwizard .done:before {
    content: '\f00c';
    font-family: FontAwesome;
    position: absolute;
    top: 34px;
    padding-left: 12px;
    background-color: #5884c3;
    margin-left: 11px;
    font-size: 31px;
    color: white;
    font-weight: normal;
} */

.forth-step{
	    padding: 0px 20px;
    text-align: center;
}

p.finishing-text {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #363435;
}

.finish-button{
	font-size: 18px;
	text-transform: capitalize;
	color: white;
	float:right;
}

p.check-icon {
    background-color: #5884c3;
    margin-left: 11px;
    font-size: 31px;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 80px;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* Step 7 CSS*/

.account-steps{
	background-color:#ECEBE9;
		    padding: 25px;
}

.login-details {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
	text-align: center;
}

.login-details .user-login{
        font-size: 19px;
    font-weight: 500;
	text-transform: uppercase;
	    padding: 15px 0px;
}

.login-form button{
	    padding: 10px 50px;
    text-transform: uppercase;
    margin: 40px 0px;
    background-color: #5884C3;
    border-color: #5884C3;
    border-radius: 10px;
}

.forgot-password-link{
	    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    color: #5884C3;
}

.login-form {
    padding: 0px 10px 20px;
}

form#signin i {
        font-size: 25px;
    border: 1px solid #797979;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 11px;
    margin-right: 17px;
    color: #5884c3;
}

form#signin input {
    padding: 24px;
    border-radius: 10px;
}

form#signin .input-group {
    margin-bottom: 30px;
}

form#signin input {
    border: 1px solid #797979;
    padding: 25px;
    border-radius: 10px;
}

a {
    color: #5884c3;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.user-detail .user {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}

.user-detail .edit-profile{
	 text-align: right;
	 text-transform: uppercase;
}

.row-design {
    border-radius: 10px;
    background-color: white;
    padding: 1px 20px;
}

.balance {
    margin-top: 10px;
	    padding: 10px 30px;
    margin-bottom: 10px;
}


.balance i {
    font-size: 25px;
    border: 1px solid #797979;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding: 12px 10px;
    color: #797979;
    line-height: 17px;
    float: left;
    margin-right: 15px;
}

p.balance-price {
    font-size: 20px;
    font-weight: bold;
	    margin: 0px;
}


p.balance-price span{
    font-size: 18px;
    font-weight: normal;
}

p.proses{
	    font-size: 20px;
    font-weight: bold;
}


.row-padding {
    padding: 8px 0px;
}

.riwayat .row-design {
    margin: 0px;
	    padding-top: 10px;
    padding-bottom: 10px;
	    margin-bottom: 5px;
}

.riwayat .row-design p {
    margin-bottom: 4px;
}

.riwayat-status {
    text-transform: uppercase;
}

p.riwayat-cost {
    font-size: 18px;
    font-weight: bold;
}

p.riwayat-title{
	font-size: 19px;
    font-weight: bold;
}

section.account-steps .user-detail {
    margin: 0;
}

p.riwayat-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 15px;
}

div#popup-form input {
    margin: 10px 0px;
    border: 1px solid #878384;
    border-radius: 10px;
    margin-bottom: 30px;
}

.table-top-button{
	text-align:center;
}

table.dataTable.no-footer {
    border: none;
}

table.dataTable thead th, table.dataTable thead td {
    border: none;
}

#members-table table { 
    border-collapse: separate; 
    border-spacing: 0 10px; 
	border-spacing: 0 1em;
}

table.dataTable thead th {

    font-size: 20px;
}

.dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
}

.dataTables_wrapper .dataTables_length {
    float: none;
	    text-align: center;
    margin-top: 30px;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0em;

    border: 0px;
    padding: 10px;
	    width: 100%;
    border-radius: 10px;
	    margin-top: 15px;
		    padding-left: 55px;
}


.dataTables_wrapper .dataTables_filter input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #AFABAA;
}


div#members-table_length select {
    border: 0;
    border-radius: 5px;
    margin: 0px 6px;
}

div#members-table_filter label {
    width: 100%;
}

#members-table table { 
    border-collapse: separate; 
    border-spacing: 0 10px; 
    margin-top: -10px; /* correct offset on first border spacing if desired */
}
#members-table td {
    border: solid 1px #ecebe9;
    border-style: solid none;
    padding: 10px;
    background-color: white;
}
#members-table td:first-child {
        border-right: 1px solid #ecebe9;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
#members-table td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
	    text-align: right;
}

table.dataTable thead th:nth-child(2) {
    text-align: right;
}

table#members-table i {
    font-size: 25px;
    border: 1px solid #797979;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding: 7px 8px;
    color: #797979;
    line-height: 17px;
    float: right;
    margin-right: 15px;
}

.search-icon i{
    position: absolute;
    z-index: 20;
    margin-top: 20px;
    margin-left: 14px;
    border: 1px solid lightgray;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding: 8px 10px;
    color: #AFABAA;
}

.form-control {
    border: 1px solid #6C6C6C;
}

@media screen and (max-width: 600px) {
 .search-icon i{
	 
    margin-top: 28px;
    margin-left: 12px;

}
/* .sw-theme-circles > ul.step-anchor > li {
    margin-left: 8%;
}
.sw-theme-circles > ul.step-anchor:before {
    width: 60%;
  
} */
}

